/* /////////////// */
/* navbar area */
/* /////////////// */

.navbar {
  display: flex;
  align-items: center;
  height: 4rem;
  background: var(--color-black);
  color: white;
  /* padding: 5px; */
  margin: 5px;
  border-radius: 5px;
  /* 

 */
}

.navbaricon {
  display: flex;
  align-items: center;
  margin-left: 0.5em;
}

.navbartitle {
  font: var(--size-navbar-title) Arial;
  font-weight: bold;
  color: var(--color-white);
  font-family: Arial, Helvetica, sans-serif;
  margin: var(--size-item-margin);
}

.search {
  flex-basis: 100%;
  font-size: 1.7rem;
  outline: 0;
  border-radius: 5px;
}

.button {
  height: 70%;
  background-color: var(--color-light-grey);
  border-radius: 5px;
  outline: 0;
  margin: 0.2em;
}

.buttonImg {
  height: 100%;
  border-radius: 5px;
  padding: 0.3em 0.1em;
}
