/* /////////////// */
/* navbar area */
/* /////////////// */

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--color-black);
  border-radius: 5px;
  margin: auto;
  height: 4rem;
  padding: 5px;
}

.navbaricon {
  /* width: 50px;
  height: 50px; */
}

.navbartitle {
  font: var(--size-navbar-title) Arial;
  font-weight: bold;
  color: var(--color-white);
  font-family: Arial, Helvetica, sans-serif;
  margin: var(--size-item-margin);
}

.searchbar {
  font: var(--size-navbar-title) Arial;
  height: 3rem;
  flex-basis: 100%;
  margin-left: 0px;
  border-radius: 5px;
  outline: 0;
}

.searchbutton {
  height: 3rem;
  border-radius: 5px;
}
