/* /////////////// */
/* base area */
/* /////////////// */

:root {
  --color-black: #302e2e;
  --color-light-black: #423e3e;
  --color-light-grey: #cecfe0;

  --color-white: #ffffff;
  --color-red: #4b42f5;
  --color-blue: #8186f7;
  --color-ligth-blue: #c6c8f5;

  --size-navbar-title: 25px;
  --size-item-margin: 5px;
  --size-box-shadow: 2px;
}

.app {
  max-width: 80rem;
}

.container {
  display: flex;
}

.detail {
  flex: 1 1 70%;
}

.list {
  flex: 1 1 30%;
}
