/* /////////////// */
/* base area */
/* /////////////// */

:root {
  --color-black: #302e2e;
  --color-light-black: #423e3e;
  --color-light-grey: #cecfe0;

  --color-white: #ffffff;
  --color-red: #4b42f5;
  --color-blue: #8186f7;
  --color-ligth-blue: #c6c8f5;

  --size-navbar-title: 25px;
  --size-item-margin: 5px;
  --size-box-shadow: 2px;
}

body {
  /* display: flex; */
}

/* /////////////// */
/* navbar area */
/* /////////////// */

.navbar {
  display: flex;
  background-color: var(--color-black);
  width: 80%;
  height: 5vh;
  align-items: center;
  justify-content: center;
  margin: auto;
  /* align-items: center;
  align-content: center; */
}

.navbar-icon {
  width: 50px;
  height: 50px;
}

.navbar-title {
  font: var(--size-navbar-title) Arial;
  font-weight: bold;
  color: var(--color-white);
  font-family: Arial, Helvetica, sans-serif;
  margin: var(--size-item-margin);
}

.search-bar {
  display: block;
  height: var(--size-navbar-title);
  width: 80%;
  /* margin: var(--size-item-margin); */
  margin-left: 0px;
  border-radius: 5px;
}

.search-button {
  font: var(--size-navbar-title);
  color: ;
}

/* /////////////// */
/* item area */
/* /////////////// */

.video-item {
  display: flex;
  align-items: center;
  justify-content: left;
  align-content: center;

  box-shadow: var(--size-box-shadow) var(--size-box-shadow)
    var(--color-ligth-blue);
  border-style: ridge;
  border-color: var(--color-light-grey);
  margin: 5px;
}
